{% include 'navbar.html'  %}

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Login Form -->
        <form method="POST">
            <input type="text" id="question" class="fadeIn second" name="question" placeholder="Saisir votre Question..."> <br>
            <input type="text" id="nb_propositions" class="fadeIn third" name="nb_propositions" placeholder="nombre de propositions"> <br>

            <input type="submit" class="fadeIn fourth" value="Valider">
        </form>

    </div>
</div>