-
  name: installEnv
  hosts: appli
  become: yes

  tasks:

    - name: Test ping
      ping:

    - name: update
      shell: apt update -y

    - name: install python3.9
      shell: apt install python3 python3-pip python3-dev -y

    - name: install Flask
      shell: pip3 install flask sqlalchemy pymysql

    - name: install git
      shell: apt install git -y

    - name: remove app
      shell: rm -rf /app

    - name: clone git
      shell: git clone https://github.com/henrimfonzie/Projet_DevOps_2021.git

    - name: move app
      shell: mv ./Projet_DevOps_2021/app /app

    - name: remove proj
      shell: rm -rf Projet_DevOps_2021

    - name: copy conf.data
      ansible.builtin.copy:
        src: /home/ubuntu/infra_ID.txt
        dest: /app/data.cfg

    - name: run app
      shell: nohup python3 /app/app.py &
